body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

/* .third {
    background: 
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('https://example.com/full-image-path.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; /* or whatever height you want
}*/

.firstPage {
    /* background: linear-gradient(rgba(0, 0, 0, 0.3)), url('https://tinyurl.com/bigimagemoove');
    background-size: cover;
    background-position: center;     */
    height: 130vh;
    display: grid;
    grid-template-rows: 8vh 12vh 110vh;

    .first {
        padding-left: 15px;
        background-color: #2C2926;

        box {
            width: 220px;

            button {
                padding: 0;
                height: 100%;
                width: 105px;
                margin: 0 10px;
                color: white;
                background: none;
                border: none;
                font-size: .95em;
                font-weight: 500;
                cursor: pointer;
            }

            button:hover {
                border-top: 4px solid #FF4300;
                transition: .3s ease;
            }
        }
    }

    .second {
        display: flex;
        background-color: #F8F4F2;

        a {
            color: black;
            font-size: .9em;
            font-weight: 500;
        }

        div {
            display: flex;
            align-items: center;
            height: 100%;

            img {
                height: 10px;
            }

            a:hover {
                color: #FF4300;

                img {
                    transform: rotate(-180deg);
                    transition: transform .5s ease;
                }
            }

            button:hover {
                background-color: #565451;
            }

            .logo {
                height: 1.5em;
                padding-left: 25px;
                padding-right: 700px;
                fill: #FF4300;
            }
        }

        .navs {
            display: flex;
            justify-self: flex-end;
            width: 320px;
            gap: 45px;
        }

        .right {
            button {
                height: 40px;
                width: 170px;
                border: none;
                background-color: #2C2926;
                color: white;
                font-size: .9em;
                font-weight: 600;
                border-radius: 25px;
                cursor: pointer;
                margin: 0 30px;
            }

            a {
                margin-left: 50px;
            }
        }
    }

    .third {
        background: linear-gradient(rgba(0, 0, 0, 0.3)), url('https://tinyurl.com/bigimagemoove');
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding: 0 10%;
        color: white;
        .up{
            h1{
                font-size: 4.5em;
                margin: 0;
                padding-top: 5%;
            }
            p{
                width: 470px;
                font-size: 1.2em;
                font-weight: 600;
                line-height: 150%;
            }
            button{
                width: 290px;
                height: 55px;
                margin: 3% 0;
                background-color: #FF4300;
                border-radius: 35px;
                border: none;
                color: white;
                font-weight: 600;
                font-size: 1em;
            }
        }
        .down{
            height: 100%;
            border: 2px solid red;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img{
                height: 20px;
                width: auto;
            }
        }
    }
}